.accordion {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  align-items: flex-end;
  margin-top: 1.8rem;
  &:first-of-type {
    margin-top: 0;
  }
  &__text {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.5;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.4rem;
    color: $primary-color;
  }
}
