.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__options{
    display: flex;
    align-items: center;
  }
}
