mixin card-modal
  a(href="#")
    article.modal-category__item
      figure.modal-category__img
        img(src=`${img}ecosport.png`, alt="ecosport")
      h2.modal-category__title ECOSPORT
      p.modal-category__description Desde US$ 16,990.00 - Cuotas desde US$ 412.62
